@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: auto;
  width: max(340px, 70vw);
  padding-top: 5vh;
}

h1 {
  width: fit-content;
  margin: auto;
}

.form {
  width: fit-content;
  margin: 3vh auto 0;
  padding: 1.5rem;
  border: 1px solid crimson;
  border-radius: 10px;
}

input[type="file"] {
  font-size: 0;
}

::file-selector-button {
  font-size: initial;
}

.img-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  max-width: 80vw;
}

.img-info {
  display: flex;
  align-items: center;
}

.multiline-info {
  white-space: pre;
}

.palette {
  max-width: 24rem;
  margin-top: 3rem;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.palette div {
  width: 6rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px #000000;
}
